* {
	margin: 0;
}

.corpo-do-site {
	background-image: url(/home/vai-na-web-06/Documentos/Futuro-Movimento/assets/teladefundo.png);
	font-family: 'Comfortaa', cursive;
	font-size: #FFFFFF;
}

.conteiner-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 20
}

.header-logo {
	width: 100%;
	height: 20%; 
}

.caixa-logo {
	margin: 0;
    width: 17%;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.logo {
	width: 11vw;
    height: 16vh;
}

.conteiner-menu {
    width: 40%;
    height: 8vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.comando {
	width: 100%;
}


.menu-item {
	width: 100%;
	height: 4em;
	display: flex;
	justify-content: space-around;
	border-radius: 50%;
	background-color: #FB26CA;
	background-image: linear-gradient(#FB26CA,#FFF82A);
	align-items: center;
}

.menu-item-S {
	width: 6vw;
}

.menu-item-Y {
	width: 6vw;
}

.menu {
	width: 100%;
	height: 10vh;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    justify-content: space-around;
	list-style: none;

}

.conteudo-main {
	margin-bottom: 11em;
}

.titulo1-main {
	display: flex;
	justify-content: center;
	font-size: 50px;
	margin-bottom: 11em;
}

.titulo2-main {
	margin: 4%;
    margin-left: 8%;
    font-size: 50px;
}

.descricao-main {
	margin: 0%;
}

.caixa-main {

}

.caixa-projeto {
	width: 100%;
	height: 70vh;
	display: flex;
	flex-direction: row; 
	justify-content: space-around;
}

.descricao-main {
	width: 31%;
	font-size: 22px;
}

.img-slide {
	width: 40vw;
    height: 60vh;
}

.img-ilustracao {
	width: 21vw;
    height: 40vh;
    border-radius: 80%;
}

.conteiner-atividades {
	width: 60%;
	height: 41vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	margin-bottom: 70px;
}

.titulo-atividades {
	font-size: 45px; 
	padding-bottom: 30px;
}

.conteiner-atividades-itens {
	width: 80vw;
	height: 30vh;
	display: flex;
	justify-content: space-around;
	margin-left: 80px;
}

.img-atividade {
	width: 10vw;
	height: 14vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.caixa-atividades {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.titulos-atividades {
	font-size: 23px;
}

.caixa-parceria {
	display: flex;
	flex-direction: row;
	margin-bottom: 11em;	
}

.img-logo-parceria {
	width: 8vw;
	margin: 28px;
}

.titulo-parceiros {
	width: 20vw;
	font-size: 45px; 
	margin: 35px;
    text-align: center;
}

.caixa-logo-parceria {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.conteiner-footer{
	

}

.caixa-parceria {
	width: 100%;
    display: flex;
    justify-content: flex-end;
}

.caixa-parceria-conteudo {
	width: 38%;
}

.titulo-contato {
	font-size: 45px; 
	padding-bottom: 30px;
}

.texto-recrutando {
	width: 100%;
	font-size: 22px;
}

.caixa-contato-textos {
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.contato-textos {
	width: 56%;
}

.caixa-conteiner-contatos {
	width: 74%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    padding-right: 20em;
}

.conteiner-contatos{
	width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.img-ilustracao-footer{
	width: 33vw;
    height: 62vh;
    border-radius: 50%;
}

.caixa-contatos {
	font-size: 27px;
}

.conteiner-ultimo-footer {
	background-color: #FFFFFF;
	width: 100%;
	height: 5em;
	display: flex;
	justify-content: center;
}

.ultimo-footer {
	width: 50%;
	height: 5em;
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.logo-desenvolvedor {
	width: 50px;
	height: 30px;
}
