* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.conteiner-header {
	background-image: url(./assets/teladefundo.png);
	background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #FFFFFF;

}

.caixa-header {
	width: 70%;
	display: flex;	
    justify-content: center;
    align-items: center;
}

.caixa-logo {
    width: 25%;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.logo {
	width: 100%;
}

.conteiner-menu {
    width: 50%;
    height: 8vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.menu {
	width: 100%;
}

#btn-menu {
	display: none;
}

.menu-mobile {
	color: #00FFCB;
	font-size: 25px;
	display: block;
	padding: 5px 10px;
	width: 20px;
	display: none;
}

.menu-lista {
	font-family: Comfortaa;
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.menu-item {
	width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
	background-image: url('./assets/img_menu.svg');
	background-size: cover;
	background-repeat: no-repeat;
}

.menu-item a {
	text-decoration: none;
	color: #fff;
}

.conteiner-main {
	background-color: #B124D2;
	color: #FFFFFF;
}

.caixa-inicio {
	width: 100%;
	height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio-titulo {
	display: flex;
	justify-content: center;
	font-size: 50px;
	font-family: Comfortaa;
}

.conteiner-sobre {
	height: 100vh;
}

.caixa-sobre {
	width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descricao-span {
	width: 85%;
}

.caixa-descricao {
	width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sobre-titulo {
	width: 85%;
	height: 10%;
	font-size: 2.56rem;
    font-family: Comfortaa;
}

.descricao-sobre {
	width: 33%;
}

.descricao-main {
	width: 30%;
    margin: 0%;
    font-size: 16.5px;
    font-family: KorolevL;
    line-height: 25px;
}

.atividades {
	width: 100vw;
	height: 100vh;
}

.img-ilustracao {
	width: 21vw;
    border-radius: 80%;
}

.atividade-span {
	display: flex;
	align-items: flex-end;
} 

.conteiner-atividades {
	width: 65%;
    display: flex;
    justify-content: space-evenly;	
}

.titulo-atividades {
	font-size: 45px; 
	padding-bottom: 30px;
	font-family: Comfortaa;
}

.conteiner-atividades-itens {
	width: 80vw;
	height: 30vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 80px;
	font-family: Comfortaa;
}

.img-atividade {
	width: 10vw;
	height: 14vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.caixa-atividades {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.titulos-atividades {
	font-size: 23px;
}

.titulo-parceiros {
	color: #FFFFFF;
	font-family: Comfortaa;
}

.img-logo-parceria {
	width: 8vw;
	margin: 28px;
}


.caixa-logo-parceria {
	display: flex;
	flex-direction: row;
	align-items: center;
}


