* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.conteiner-header {
	background-image: url(./assets/teladefundo.png);
	background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #FFFFFF;

}

.caixa-header {
	width: 70%;
	display: flex;	
    justify-content: center;
    align-items: center;
}

.caixa-logo {
    width: 25%;
    display: flex;
    align-items: center;
    border-radius: 50%;
    position: relative;
}

.logo {
	width: 100%;
}

.conteiner-menu {
    width: 50%;
    height: 8vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.menu {
	width: 100%;
}

.menu-lista {
	font-family: Comfortaa;
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

	@media(max-width: 768px){
		.menu-lista{
			display: none;
		}
	}

.menu-item {
	width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
	background-image: url('./assets/img_menu.svg');
	background-size: cover;
	background-repeat: no-repeat;
}

.menu-item a {
	text-decoration: none;
	color: #fff;
}

.caixa-inicio {
	width: 100%;
	height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner-main {
	background-color: #B124D2;
	color: #FFFFFF;
}

.inicio-titulo {
	display: flex;
	justify-content: center;
	font-size: 50px;
	font-family: Comfortaa;
}

	@media (max-width: 768px){
		.inicio-titulo {
			padding-left: .75rem;
    		font-size: 2.5rem;
		}
	}

.conteiner-sobre {
	height: 100vh;
}

.caixa-sobre {
	width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

	@media (max-width: 768px){
		.caixa-sobre {
			width: 100%;
    		display: flex;
		}
	}

.descricao-span {
	width: 85%;
}

.caixa-descricao {
	width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

	@media (max-width: 768px){
		.caixa-descricao {
			width: 82%;
		}
	}

.sobre-titulo {
	width: 85%;
	padding-bottom: 2rem;
	font-size: 2.56rem;
    font-family: Comfortaa;
}

	@media (max-width: 768px){
		.sobre-titulo {
			width: auto;
    		font-size: 2rem;
		}
	}

.descricao-sobre {
	width: 40%;
	font-family: KorolevL;
}

	@media (max-width: 768px){
		.descricao-sobre {
			min-width: 82%;
    		font-size: 1.15rem;
		}
	}

.descricao-main {
	width: 30%;
    margin: 0%;
    font-size: 16.5px;
    font-family: KorolevL;
    line-height: 25px;
}

.atividades {
	height: 100vh;
}

	@media(max-width: 768px){
		.atividades {
		    height: 76vh;
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		}
	}

.img-ilustracao {
	width: 21vw;
    border-radius: 80%;
}

	@media(max-width: 768px){
		.img-ilustracao {
			display: none;
		}
	}

.atividade-span {
	display: flex;
	align-items: flex-end;
} 

.conteiner-atividades {
	width: 65%;
    display: flex;
    justify-content: space-evenly;	
}

	@media(max-width: 768px){
		.conteiner-atividades {
			width: 100%;
		    display: flex;
		    justify-content: center;
		}
	}

.titulo-atividades {
	font-size: 45px; 
	padding-bottom: 30px;
	font-family: Comfortaa;
}

.conteiner-atividades-itens {
	width: 80vw;
	height: 30vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 80px;
	font-family: Comfortaa;
}
	
	@media(max-width: 768px){
		.conteiner-atividades-itens {
			width: 80%;
		    height: 55vh;
		    display: flex;
		    flex-wrap: wrap;
		    margin: 0;

		}
	}

.img-atividade {
	width: 10vw;
	padding-bottom: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.caixa-atividades {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.titulos-atividades {
	font-size: .85rem;
}

.texto-movel{
}

	@media(max-width: 768px){
		.texto-movel{
			height: 30%;
			display: flex;
		    justify-content: center;
		}
}

.texto-recrutando-mobile {
	display: none;
}

	@media(max-width: 768px){
		.texto-recrutando-mobile{
			width: 90%;
		    display: block;
		    font-size: 1.15rem;
		    font-family: KorolevL;
		}
	}

.parceria {
	height: 90vh;
}

.titulo-parceiros {
	width: 100%;
	color: #FFFFFF;
	font-family: Comfortaa;
	font-size: 2rem;
	display: flex;
    justify-content: center;
}

	@media(max-width: 768px){
		.titulo-parceiros {
			
		}
	}

.img-logo-parceria {
	width: 10vw;
	margin: 28px;
}

	@media(max-width: 768px){
		.img-logo-parceria {
			width: 30%;
			margin: 0;
		}
	}

.caixa-logo-parceria {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

	@media(max-width: 768px){
		.caixa-logo-parceria {
			height: 100%;
			display: flex;
	    	flex-direction: column;
	    	align-items: center;
	    	justify-content: space-evenly;
    		
		}
	}

.caixa-parceria {
	width: 90%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

	@media(max-width: 768px){
		.caixa-parceria {
			width: 100%;
			height: 70%;
		}
	}

.caixa-parceria-conteudo {
	width: 38%;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

	@media(max-width: 768px){
		.caixa-parceria-conteudo{
			width: 100%;
		}
	}

.conteiner-footer {
	background-color: #B124D2;
	color: #FFFFFF;
}

	@media(max-width: 768px){
		.conteiner-footer {
			display: none;
		}
	}

.titulo-contato {
	height: 50%;
	font-family: Comfortaa;
	font-size: 45px;
}

.texto-recrutando-desktop {
	width: 61vw;
    height: 15vh;
	font-size: 22px;
	font-family: KorolevL;
}

	@media(max-width: 768px){
		.texto-recrutando-desktop {
			display: none;
		}
	}

.box-mobile {
	display: none;
}

.caixa-contato-textos {
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.contato-textos {
	width: 56%;
}

.caixa-conteiner-contatos {
	width: 87%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.conteiner-contatos {
	width: 100%;
    display: flex;
    justify-content: center;
}    

.img-ilustracao-footer {
	width: 33vw;
    border-radius: 50%;
    position: relative;
    bottom: -5em;
}

.caixa-contatos {
	font-size: 27px;
	font-family: KorolevB;
	color: #FFDB39;
}

	@media(max-width: 768px){
		.caixa-contatos {

		}
	}

.titulo-contato-mob	{
	display: none;
}

	@media(max-width: 768px){
		.titulo-contato-mob	{
			display: block;
		}
	}

.conteiner-ultimo-footer {
	background-color: #FFFFFF;
	width: 100%;
	height: 13vh;
	display: flex;
	justify-content: center;
}

.ultimo-footer {
	width: 11%;
    height: 13vh;
    display: flex;
    justify-content: space-evenly;
    font-family: KorolevM;
    align-items: center;
}

.texto-desenvolvedores {
	font-size: 10px;
	color: #000000;
}

.logo-desenvolvedor {
	width: 50px;
	height: 30px;
}
