* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

	@media(max-width: 768px){
		.corpo-do-site {
			width: 100%;
			background-color: coral;
		}
	}

.conteiner-header {
	background-image: url(./assets/teladefundo.png);
	background-size: cover;
	background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #FFFFFF;

}

.caixa-header {
	width: 70%;
	display: flex;	
    justify-content: center;
    align-items: center;
}

.header-logo {
	width: 100%;
	height: 20%; 
}

.caixa-logo {
	margin: 0;
    width: 25%;
    height: 14rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.logo {
	width: 100%;

}

.conteiner-menu {
    width: 50%;
    height: 8vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.menu {
	width: 100%;
}

#btn-menu {
	display: none;
}

.menu-mobile {
	color: #00FFCB;
	font-size: 25px;
	display: block;
	padding: 5px 10px;
	width: 20px;
	display: none;
}

	@media(max-width: 768px){
		.menu-mobile{
			display: block;
		}
	}

.menu-lista {
	font-family: Comfortaa;
	width: 100%;
    height: 20vh;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

	@media (max-width: 768px){
		.menu-lista{
			position: absolute;
			flex-direction: column;
			margin-right: -2px;
	    	display: none;
		}
	}

.menu-item {
	width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
	background-image: url('./assets/img_menu.svg');
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
}

.menu-item a {
	text-decoration: none;
	color: #fff;
}


.conteiner-main {
	background-color: #B124D2;
	color: #FFFFFF;
}

.conteudo-main {
}

	@media (max-width: 768px){
		.caixa-main{
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

.caixa-inicio {
	width: 100%;
	height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio-titulo {
	display: flex;
	justify-content: center;
	font-size: 50px;
	font-family: Comfortaa;
}

@media (max-width: 768px){
	.inicio-titulo {
		width: 100%;
		font-size: 250px;
	}
}


.conteiner-sobre {
	height: 100vh;
}

.caixa-sobre {
	width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descricao-span {
	width: 85%;
}

.caixa-descricao {
	width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

	@media (max-width: 768px){
		.caixa-descricao{
			width: 85%;
		    height: 40vh;
		    display: flex;
		    align-items: center;
		}
	}

.sobre-titulo {
	width: 85%;
	height: 10%;
	font-size: 41px;
    font-family: Comfortaa;
}
	@media (max-width: 768px){
		.titulo2-main{
			width: 72%;
	    	margin: 0;
	    	font-size: 33px;
		}
	}

.descricao-sobre {
	width: 33%;
}

.descricao-main {
	width: 30%;
    margin: 0%;
    font-size: 16.5px;
    font-family: KorolevL;
    line-height: 25px;
}

	@media(max-width: 768px){
		.descricao-main {
			width: 85%;
			font-size: 22px;
		}
	}


.img-slide {
	width: 40vw;
    height: 60vh;
}

.img-ilustracao {
	width: 21vw;
    height: 40vh;
    border-radius: 80%;
}

	@media (max-width: 768px){
		.img-ilustracao{
			display: none;
		}
	}

.atividades {
	/*height: 100vh;*/
}

.conteiner-atividades {
	width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;	
}

.titulo-atividades {
	font-size: 45px; 
	padding-bottom: 30px;
	font-family: Comfortaa;
}

	@media(max-width: 768px){
		.titulo-atividades
	}

.conteiner-atividades-itens {
	width: 80vw;
	height: 30vh;
	display: flex;
	justify-content: space-around;
	margin-left: 80px;
	font-family: Comfortaa;
}

	@media (max-width: 768px){
		.conteiner-atividades-itens{
		    width: 75vw;
		    height: 40vh;
			display: flex;
		    flex-flow: wrap;
		}
	}

.img-atividade {
	width: 10vw;
	height: 14vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

	@media(max-width: 768px){
		.img-atividade{
			width: 20vw;
	    	height: 15vh;
		}
	}

.caixa-atividades {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.titulos-atividades {
	font-size: 23px;
}

.titulo-parceiros {
	color: #FFFFFF;
	font-family: Comfortaa;
}

	@media (max-width: 768px){
		.titulo-parceiros {
			font-size: 22px; 
		}
	}

.img-logo-parceria {
	width: 8vw;
	margin: 28px;
}


.caixa-logo-parceria {
	display: flex;
	flex-direction: row;
	align-items: center;
}

	@media(max-width: 768px){
		.caixa-logo-parceria{
			display: flex;
	    	flex-direction: column;
	    	align-items: center;
		}
	}

.caixa-parceria {
	width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
	@media (max-width: 768px){
		.caixa-parceria{
			display: flex;
	    	justify-content: center;
		}
	}


.caixa-parceria-conteudo {
	width: 38%;
}

.titulo-contato {
	font-size: 45px; 
	padding-bottom: 30px;
	font-family: Comfortaa;
}

.texto-recrutando-desktop {
	display: block;
	width: 100%;
	font-size: 22px;
	font-family: KorolevL;
}

	@media(max-width: 768px) {
		.texto-recrutando-desktop{
			display: none
		}
	}
.box-mobile {
	display: none;
}

	@media(max-width: 768px) {
		.box-mobile {
			display: block;
		}
	}

.caixa-contato-textos {
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

.contato-textos {
	width: 56%;
}

.caixa-conteiner-contatos {
	width: 87%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    color: #FFFFFF;
}

.conteiner-contatos{
	width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

	@media (max-width: 768px){
		.caixa-footer-img{
			display: none;
		}
	}

.img-ilustracao-footer{
	width: 33vw;
    height: 62vh;
    border-radius: 50%;
	border-radius: 50%;
	position: relative;
	margin: 0 0 -84px 0;
}

.caixa-contatos {
	font-size: 27px;
	color: #FFFFFF;
	font-family: KorolevB;
	color: #FFDB39;
}

	@media(max-width: 768px){
		.email-contatos{
			font-size: 22px;
		}
	}

.conteiner-ultimo-footer {
	background-color: #FFFFFF;
	width: 100%;
	height: 5em;
	display: flex;
	justify-content: center;
}

.ultimo-footer {
	width: 10%;
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: KorolevM;
    align-items: center;
}

.texto-desenvolvedores {
	font-size: 10px;
}
.logo-desenvolvedor {
}
	width: 50px;
	height: 30px;
